flow.txt
[{"id":"79475494.d4eeec","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"65150378.c2968c","type":"function","z":"79475494.d4eeec","name":"f2","func":"if (msg.topic == \"INIT\")\n{\n    var init = flow.get('CurrentTimer');\n    if (init === undefined) {\n            msg.payload = -1;\n    }\n    else    \n    {\n        msg.payload = init;\n    }\n}\nelse\n{\n    var tnum = msg.payload;\n    flow.set('CurrentTimer',tnum );\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":427,"y":155,"wires":[["9eee6ad4.cddba8"]]},{"id":"12ba91f7.c9bf9e","type":"ui_dropdown","z":"79475494.d4eeec","name":"SETTIMERNO","label":"Select Timer: ","place":"Select Timer Number","group":"fc5d28c9.d62248","order":2,"width":"6","height":"1","passthru":false,"options":[{"label":"TIMER1","value":1,"type":"num"},{"label":"TIMER2","value":2,"type":"num"},{"label":"TIMER3","value":3,"type":"num"},{"label":"TIMER4","value":4,"type":"num"},{"label":"TIMER5","value":5,"type":"num"},{"label":"TIMER6","value":6,"type":"num"},{"label":"TIMER7","value":7,"type":"num"},{"label":"TIMER8","value":8,"type":"num"},{"label":"TIMER9","value":9,"type":"num"},{"label":"TIMER10","value":10,"type":"num"}],"payload":"","topic":"SETTIMERNO","x":302.00000762939453,"y":90.99999904632568,"wires":[["65150378.c2968c","fc52a7d7.8b94a8"]]},{"id":"8f963b61.a07fc8","type":"ui_button","z":"79475494.d4eeec","name":"","group":"3d903e3c.540422","order":11,"width":0,"height":0,"passthru":false,"label":"Apply","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"APPLYTIMER","x":78,"y":508.00001525878906,"wires":[["544d364e.7816b8"]]},{"id":"a69fdcc1.bd4eb","type":"function","z":"79475494.d4eeec","name":"Create Timer Number","func":"//as per info panel, the data needs to be formatted\n//as [ \"Choice 1\", \"Choice 2\", {\"Choice 3\":\"3\"} ]\n//and sent in msg.options.\nmsg.payload = [[\"Timer1\",1],[\"Timer2\",2],[\"Timer3\",3]];\nmsg.options = [];//create empty array\nfor(let i = 1; i < 10; i++){\n    let row = {}; //get the row\n    row[0] = \"TIMER\" + i;\n    row[1]= i;\n    let opt = {};//make new opt object\n    opt[row[0]] = row[1]; //add a propery to object called row[0] & set its value to row[1]\n    msg.options.push(opt);//add the opt to array    \n    //let row = msg.payload[i]; //get the row\n    //let opt = {};//make new opt object\n    //opt[row[0]] = row[1]; //add a propery to object called row[0] & set its value to row[1]\n    //msg.options.push(opt);//add the opt to array    \n}\nreturn msg;","outputs":1,"noerr":0,"x":264.00001525878906,"y":37,"wires":[[]]},{"id":"2a26e829.d31fb8","type":"ui_button","z":"79475494.d4eeec","name":"INITDD","group":"fc5d28c9.d62248","order":1,"width":"2","height":"1","passthru":false,"label":"INIT","color":"","bgcolor":"","icon":"","payload":"{}","payloadType":"json","topic":"INIT","x":74,"y":126,"wires":[["a69fdcc1.bd4eb","65150378.c2968c","2ba5ad78.348772"]]},{"id":"9eee6ad4.cddba8","type":"ui_text","z":"79475494.d4eeec","group":"3d903e3c.540422","order":1,"width":"4","height":"1","name":"","label":"Current timer :","format":"{{msg.payload}}","layout":"row-spread","x":595,"y":49,"wires":[]},{"id":"2ba5ad78.348772","type":"function","z":"79475494.d4eeec","name":"INITALLDATA","func":"var automode = flow.get(\"AUTOMODE\");\nif (automode === undefined) \n    {\n        automode = false;\n        flow.set(\"AUTOMODE\", automode);\n    }\nvar init = flow.get(\"CurrentTimer\");\nif (init === undefined) \n{\n    init = -1;\n    flow.set(\"CurrentTimer\", init);\n}\nfor (var i = 1; i <= 10; i++) {\n    var nametimer = \"TIMER\" + i;\n    var timer = flow.get(nametimer);\n    if (timer === undefined) \n    {\n        var st = {HOUR:0, MINUTE:0, SEC:0};\n        //st[\"HOUR\"] = 0; // hours\n        //st[\"MIN\"] = 0; // minutes\n        //st[\"SEC\"] = 0; // seconds\n        var et = {HOUR:0, MINUTE:0, SEC:0};\n        //et[\"HOUR\"] = 0; // hours\n        //et[\"MIN\"] = 0; // minutes\n        //et[\"SEC\"] = 0; // seconds\n        timer = {};\n        timer.Start = st;\n        timer.End = et;\n        timer.Enable = false;\n        flow.set(nametimer, timer);\n    }\n}\n\nvar currentTimer = flow.get(\"CTimer\");\nif (currentTimer === undefined)\n{\n    var cst = {HOUR:1, MINUTE:0, SEC:0};\n    //cst[\"SEC\"] = 1; // hours\n    //cst[\"SEC\"] = 0; // minutes\n    //cst[\"SEC\"] = 0; // seconds\n    var cet = {HOUR:0, MINUTE:0, SEC:0};\n    //cet[\"SEC\"] = 0; // hours\n   // cet[\"SEC\"] = 0; // minutes\n    //cet[\"SEC\"] = 0; // seconds\n    currentTimer = {};\n    currentTimer.Start = cst;\n    currentTimer.End = cet;\n    currentTimer.Enable = false;\n    flow.set(\"CTimer\", currentTimer);\n}\n\nmsg.payload = flow.get(\"CTimer\");\nreturn msg;","outputs":1,"noerr":0,"x":163,"y":189,"wires":[["1532ee7b.1b98c2"]]},{"id":"594cde90.29515","type":"ui_numeric","z":"79475494.d4eeec","name":"STARTHOUR","label":"Hour","group":"3d903e3c.540422","order":5,"width":"4","height":"1","passthru":false,"topic":"STARTHOUR","format":"{{value}}","min":0,"max":"23","step":1,"x":609,"y":157,"wires":[["3fe45669.31348a"]]},{"id":"55233493.5f966c","type":"ui_numeric","z":"79475494.d4eeec","name":"STARTMIN","label":"Minute","group":"3d903e3c.540422","order":7,"width":"4","height":"1","passthru":false,"topic":"STARTMIN","format":"{{value}}","min":0,"max":"60","step":1,"x":621,"y":210,"wires":[["6f58846.ce84a7c"]]},{"id":"abfe64fb.c98108","type":"ui_numeric","z":"79475494.d4eeec","name":"STARTSEC","label":"Second","group":"3d903e3c.540422","order":9,"width":"4","height":"1","passthru":false,"topic":"STARTSEC","format":"{{value}}","min":0,"max":"60","step":1,"x":627,"y":252,"wires":[["5f40243d.06e5fc"]]},{"id":"f1bf5678.d2cd28","type":"ui_numeric","z":"79475494.d4eeec","name":"ENDHOUR","label":"Hour","group":"3d903e3c.540422","order":6,"width":"4","height":"1","passthru":false,"topic":"ENDHOUR","format":"{{value}}","min":0,"max":"23","step":1,"x":605,"y":303,"wires":[["5481665f.2a3008"]]},{"id":"29b0f8ab.08da78","type":"ui_numeric","z":"79475494.d4eeec","name":"ENDMIN","label":"Minute","group":"3d903e3c.540422","order":8,"width":"4","height":"1","passthru":false,"topic":"ENDMIN","format":"{{value}}","min":0,"max":"60","step":1,"x":640,"y":342,"wires":[["8fbcf588.e71088"]]},{"id":"2c3329e9.4da336","type":"ui_numeric","z":"79475494.d4eeec","name":"ENDSEC","label":"Second","group":"3d903e3c.540422","order":10,"width":"4","height":"1","passthru":false,"topic":"ENDSEC","format":"{{value}}","min":0,"max":"60","step":1,"x":641,"y":398,"wires":[["6aefbb94.58b354"]]},{"id":"56d0381a.36d408","type":"ui_text","z":"79475494.d4eeec","group":"3d903e3c.540422","order":3,"width":"4","height":"1","name":"","label":"Time Start","format":"{{msg.payload}}","layout":"row-left","x":614,"y":112,"wires":[]},{"id":"d05bd16e.4f895","type":"ui_text","z":"79475494.d4eeec","group":"3d903e3c.540422","order":4,"width":"4","height":"1","name":"","label":"Time End","format":"{{msg.payload}}","layout":"row-left","x":803,"y":114,"wires":[]},{"id":"fc52a7d7.8b94a8","type":"function","z":"79475494.d4eeec","name":"f3","func":"var ctime = msg.payload;\nvar timerName = \"TIMER\" + ctime;\nvar timer = flow.get(timerName);\nvar msg1 = {topic:\"STARTHOUR\", payload:timer.Start.HOUR};\nvar msg2 = {topic:\"STARTMIN\", payload:timer.Start.MINUTE};\nvar msg3 = {topic:\"STARTSEC\", payload:timer.Start.SEC};\nvar msg4 = {topic:\"ENDHOUR\", payload:timer.End.HOUR};\nvar msg5 = {topic:\"ENDMIN\", payload:timer.End.MINUTE};\nvar msg6 = {topic:\"ENDSEC\", payload:timer.End.SEC};\nvar msg7 = {topic:\"ENABLE\", payload:timer.Enable};\nvar ctimer = flow.get(\"CTimer\");\nctimer.Start.HOUR = timer.Start.HOUR;\nctimer.Start.MINUTE = timer.Start.MINUTE;\nctimer.Start.SEC = timer.Start.SEC;\nctimer.End.HOUR = timer.End.HOUR;\nctimer.End.MINUTE = timer.End.MINUTE;\nctimer.End.SEC = timer.End.SEC;\nctimer.Enable = timer.Enable;\nflow.set(\"CTimer\",ctimer );\nreturn[msg1,msg2,msg3,msg4,msg5,msg6, msg7];","outputs":7,"noerr":0,"x":407,"y":261,"wires":[["594cde90.29515"],["55233493.5f966c"],["abfe64fb.c98108"],["f1bf5678.d2cd28"],["29b0f8ab.08da78"],["2c3329e9.4da336"],["1007ae8c.8c05a1"]]},{"id":"544d364e.7816b8","type":"function","z":"79475494.d4eeec","name":"applysetting","func":"var ctim = flow.get(\"CurrentTimer\");\nvar tname = \"TIMER\" + ctim;\nvar timer = flow.get(tname);\nvar ctimer = flow.get(\"CTimer\");\ntimer.Start.HOUR = ctimer.Start.HOUR;\ntimer.Start.MINUTE = ctimer.Start.MINUTE;\ntimer.Start.SEC = ctimer.Start.SEC;\ntimer.End.HOUR = ctimer.End.HOUR;\ntimer.End.MINUTE = ctimer.End.MINUTE;\ntimer.End.SEC = ctimer.End.SEC;\ntimer.Enable = ctimer.Enable;\nflow.set(tname, timer);\nreturn msg;","outputs":1,"noerr":0,"x":229.99999618530273,"y":503.00000190734863,"wires":[["cf263a12.68df08"]]},{"id":"3fe45669.31348a","type":"function","z":"79475494.d4eeec","name":"SetTimerStartHOUR","func":"var ct = flow.get(\"CurrentTimer\");\n\nif (ct !== undefined) {\n    //var tname = \"TIMER\" + ct;\n    var timer = flow.get(\"CTimer\");\n    timer.Start.HOUR = msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":827,"y":170,"wires":[[]]},{"id":"6f58846.ce84a7c","type":"function","z":"79475494.d4eeec","name":"SetTimerStartMIN","func":"var ct = flow.get(\"CurrentTimer\");\n\nif (ct !== undefined) {\n    //var tname = \"TIMER\" + ct;\n    var timer = flow.get(\"CTimer\");\n    timer.Start.MINUTE = msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":818,"y":207,"wires":[[]]},{"id":"5f40243d.06e5fc","type":"function","z":"79475494.d4eeec","name":"SetTimerStartSec","func":"var ct = flow.get(\"CurrentTimer\");\n\nif (ct !== undefined) {\n    //var tname = \"TIMER\" + ct;\n    var timer = flow.get(\"CTimer\");\n    timer.Start.SEC = msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":249,"wires":[[]]},{"id":"5481665f.2a3008","type":"function","z":"79475494.d4eeec","name":"SetTimerEndtHOUR","func":"var ct = flow.get(\"CurrentTimer\");\n\nif (ct !== undefined) {\n    //var tname = \"TIMER\" + ct;\n    var timer = flow.get(\"CTimer\");\n    timer.End.HOUR = msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":824,"y":290,"wires":[[]]},{"id":"8fbcf588.e71088","type":"function","z":"79475494.d4eeec","name":"SetTimerEndtMIN","func":"var ct = flow.get(\"CurrentTimer\");\n\nif (ct !== undefined) {\n    //var tname = \"TIMER\" + ct;\n    var timer = flow.get(\"CTimer\");\n    timer.End.MINUTE = msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":335,"wires":[[]]},{"id":"6aefbb94.58b354","type":"function","z":"79475494.d4eeec","name":"SetTimerEndtSec","func":"var ct = flow.get(\"CurrentTimer\");\n\nif (ct !== undefined) {\n    //var tname = \"TIMER\" + ct;\n    var timer = flow.get(\"CTimer\");\n    timer.End.SEC = msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":814,"y":377,"wires":[[]]},{"id":"1007ae8c.8c05a1","type":"ui_switch","z":"79475494.d4eeec","name":"","label":"Enable","group":"3d903e3c.540422","order":2,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"red","x":612,"y":449,"wires":[["6e04f7b4.6c7a18"]]},{"id":"6e04f7b4.6c7a18","type":"function","z":"79475494.d4eeec","name":"SetTimerEndtSec","func":"var ct = flow.get(\"CurrentTimer\");\n\nif (ct !== undefined) {\n    //var tname = \"TIMER\" + ct;\n    var timer = flow.get(\"CTimer\");\n    timer.Enable = msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":806,"y":426,"wires":[[]]},{"id":"b2a48892.35c7e8","type":"file","z":"79475494.d4eeec","name":"","filename":"/home/pi/timersetting.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":797,"y":492.000075340271,"wires":[[]]},{"id":"cf263a12.68df08","type":"function","z":"79475494.d4eeec","name":"SaveData","func":"var setting = [];\nfor (var i = 1; i < 11; i++) \n{\n  var tname = \"TIMER\" + i;\n  var timer = flow.get(tname);\n  setting.push(timer);\n}\nvar automode = flow.get(\"AUTOMODE\");\nvar cfg = {t1:setting[0],\n           t2:setting[1],\n           t3:setting[2],\n           t4:setting[3],\n           t5:setting[4],\n           t6:setting[5],\n           t7:setting[6],\n           t8:setting[7],\n           t9:setting[8],\n           t10:setting[9],\n           AutoMode:automode\n}\nmsg.payload = cfg;\nreturn msg;","outputs":1,"noerr":0,"x":400.00007247924805,"y":443.0000114440918,"wires":[["780e6003.8142d"]]},{"id":"780e6003.8142d","type":"json","z":"79475494.d4eeec","name":"","property":"payload","action":"str","pretty":false,"x":537.0000076293945,"y":505.0000457763672,"wires":[["b2a48892.35c7e8"]]},{"id":"1532ee7b.1b98c2","type":"file in","z":"79475494.d4eeec","name":"readconfig","filename":"/home/pi/timersetting.txt","format":"utf8","chunk":false,"sendError":false,"x":132,"y":320,"wires":[["e7071d0.811e5e","76338484.d6ec2c"]]},{"id":"8e913571.fedb18","type":"function","z":"79475494.d4eeec","name":"SetTimerFromCFG","func":"var cfg = msg.payload;\n//var timer = flow.get(nametimer);\n\nflow.set(\"TIMER1\", msg.payload.t1);\nflow.set(\"TIMER2\", msg.payload.t2);\nflow.set(\"TIMER3\", msg.payload.t3);\nflow.set(\"TIMER4\", msg.payload.t4);\nflow.set(\"TIMER5\", msg.payload.t5);\nflow.set(\"TIMER6\", msg.payload.t6);\nflow.set(\"TIMER7\", msg.payload.t7);\nflow.set(\"TIMER8\", msg.payload.t8);\nflow.set(\"TIMER9\", msg.payload.t9);\nflow.set(\"TIMER10\", msg.payload.t10);\nflow.set(\"AUTOMODE\", msg.payload.AutoMode);\nvar msg2 = {topic:\"AutoMode\",payload:msg.payload.AutoMode};\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":136,"y":447,"wires":[["e5584c89.b7b6e"],["b955147a.e94f88"]]},{"id":"e7071d0.811e5e","type":"json","z":"79475494.d4eeec","name":"","property":"payload","action":"obj","pretty":false,"x":168,"y":379,"wires":[["8e913571.fedb18","76338484.d6ec2c"]]},{"id":"76338484.d6ec2c","type":"debug","z":"79475494.d4eeec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":380,"y":345,"wires":[]},{"id":"7506e2fa.14df2c","type":"inject","z":"79475494.d4eeec","name":"firstInit","topic":"INIT","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":48,"y":238,"wires":[["2ba5ad78.348772"]]},{"id":"e5584c89.b7b6e","type":"debug","z":"79475494.d4eeec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":426,"y":390,"wires":[]},{"id":"b955147a.e94f88","type":"ui_switch","z":"79475494.d4eeec","name":"OPMODE","label":"Auto Mode","group":"5bafe1f3.5ac09","order":0,"width":"4","height":"1","passthru":false,"decouple":"false","topic":"OPMODE","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":540.0833511352539,"y":559.0799627304077,"wires":[["df950bc1.1bc1b8","eb08b46f.79cb48"]]},{"id":"df950bc1.1bc1b8","type":"function","z":"79475494.d4eeec","name":"SetMode","func":"var automode = msg.payload\nflow.set(\"AUTOMODE\", automode);\nreturn msg;","outputs":1,"noerr":0,"x":766.0798034667969,"y":544.5139293670654,"wires":[[]]},{"id":"d12ff338.2fffa","type":"comment","z":"79475494.d4eeec","name":"Variables and UI","info":"Read config from file and populate for all flow variable : \nTimer , mode and etc.","x":242.07991790771484,"y":268.36805057525635,"wires":[]},{"id":"74b43dd6.2e6704","type":"inject","z":"79475494.d4eeec","name":"Tick 30 seconds","topic":"PROCESSING","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"2","x":113.0694351196289,"y":720.9619398117065,"wires":[["725dd3bd.e262fc"]]},{"id":"1d6ed333.aea1cd","type":"comment","z":"79475494.d4eeec","name":"Timer Processing","info":"Processing timer and raise GPIO state","x":229.01732635498047,"y":654.6772022247314,"wires":[]},{"id":"cdcdea48.fb6e28","type":"moment","z":"79475494.d4eeec","name":"TickTime","topic":"TickTime","input":"","inputType":"date","inTz":"Asia/Bangkok","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH,mm,ss","locale":"th_TH","output":"payload","outputType":"msg","outTz":"Asia/Bangkok","x":163.06940460205078,"y":885.0246620178223,"wires":[["b33b796c.c8dc98","8f425d6.0ae32a"]]},{"id":"8f425d6.0ae32a","type":"function","z":"79475494.d4eeec","name":"GetTime","func":"var hh = msg.payload.split(\",\");\n//var mm = msg.payload.slice(3,2);\nvar ihh = Number(hh[0]);\nvar imm = Number(hh[1]);\nvar iss = Number(hh[2]);\nvar tt = (3600*ihh) + (60*imm) + iss;\nvar WPstate = false;\nvar APstate = false;\nvar apTimer = 0;\nvar wpTimer = 0;\nvar astart = 0;\nvar aend = 0;\nfor (var i = 1; i < 6; i++) \n{\n    var tname = \"TIMER\" + i;\n    var timer = flow.get(tname);\n    if (timer.Enable) \n    {\n        var st = timer.Start.HOUR * 3600;\n        st += timer.Start.MINUTE * 60;\n        st += timer.Start.SEC;\n        \n        var et = timer.End.HOUR * 3600;\n        et += timer.End.MINUTE * 60;\n        et += timer.End.SEC;\n        \n        if ((tt >= st)&&(tt <= et)) \n        {\n            \n            wpTimer = i;\n            flow.set(\"WPActiveTimer\", i);\n            WPstate = true;\n            break;\n        }\n    }\n}\n\nfor (var i = 6; i < 11; i++) \n{\n    var tname = \"TIMER\" + i;\n    var timer = flow.get(tname);\n    if (timer.Enable) \n    {\n        var st = timer.Start.HOUR * 3600;\n        st += timer.Start.MINUTE * 60;\n        st += timer.Start.SEC;\n        \n        var et = timer.End.HOUR * 3600;\n        et += timer.End.MINUTE * 60;\n        et += timer.End.SEC;\n        \n        if ((tt >= st)&&(tt <= et)) \n        {\n            astart = st;\n            aend = et;\n            apTimer = i;\n            flow.set(\"APActiveTimer\", i);\n            APstate = true;\n            break;\n        }\n    }\n}\n\nvar msg2 = {topic:\"APstate\",payload:APstate,timer:apTimer};\nmsg2.astart = astart;\nmsg2.aend = aend;\nmsg.topic = \"WPstate\"\nmsg.payload = WPstate;\nmsg.timer = wpTimer;\nflow.set(\"AirPumpState\", APstate);\nflow.set(\"WaterPumpState\", WPstate);\nreturn [msg, msg2];","outputs":2,"noerr":0,"x":370.5279235839844,"y":879.5764751434326,"wires":[["8055b8f.56a9248","b33b796c.c8dc98","24fb2cad.288d94","6d0c8000.ed121"],["a552d349.f6021","b33b796c.c8dc98","d4722c0e.4b482","2c165737.cd1448"]]},{"id":"8055b8f.56a9248","type":"rpi-gpio out","z":"79475494.d4eeec","name":"Water Pump","pin":"16","set":true,"level":"0","freq":"","out":"out","x":838.5206909179688,"y":965.4307537078857,"wires":[]},{"id":"a552d349.f6021","type":"rpi-gpio out","z":"79475494.d4eeec","name":"Air Pump","pin":"18","set":true,"level":"0","freq":"","out":"out","x":834.0172309875488,"y":1036.677297592163,"wires":[]},{"id":"3b358e09.c38f72","type":"ui_text","z":"79475494.d4eeec","group":"cbd3301d.a2fb5","order":2,"width":0,"height":0,"name":"WPState","label":"Water Pump State : ","format":"{{msg.payload}}","layout":"row-spread","x":806.520751953125,"y":763.3473272323608,"wires":[]},{"id":"2afc1c15.8ed9b4","type":"ui_text","z":"79475494.d4eeec","group":"cbd3301d.a2fb5","order":3,"width":0,"height":0,"name":"APState","label":"Air Pump State : ","format":"{{msg.payload}}","layout":"row-spread","x":808.0171966552734,"y":806.6769256591797,"wires":[]},{"id":"b33b796c.c8dc98","type":"debug","z":"79475494.d4eeec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":378.0694885253906,"y":800.2466745376587,"wires":[]},{"id":"24fb2cad.288d94","type":"change","z":"79475494.d4eeec","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":638.0729293823242,"y":761.0035185813904,"wires":[["3b358e09.c38f72"]]},{"id":"d4722c0e.4b482","type":"change","z":"79475494.d4eeec","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":634.0173187255859,"y":820.6771087646484,"wires":[["2afc1c15.8ed9b4"]]},{"id":"66bd5d4.5fbc8a4","type":"ui_text","z":"79475494.d4eeec","group":"ba3447e5.becaa8","order":1,"width":0,"height":0,"name":"WPTimerNo","label":"Water Pump Timer : ","format":"{{msg.timer}}","layout":"row-spread","x":815.0173206329346,"y":718.7882843017578,"wires":[]},{"id":"aa572d72.2a462","type":"ui_text","z":"79475494.d4eeec","group":"ba3447e5.becaa8","order":2,"width":0,"height":0,"name":"APTimerNo","label":"Air Pump Timer : ","format":"{{msg.timer}}","layout":"row-spread","x":905.0173225402832,"y":858.7882089614868,"wires":[]},{"id":"2c165737.cd1448","type":"change","z":"79475494.d4eeec","name":"","rules":[{"t":"change","p":"timer","pt":"msg","from":"0","fromt":"num","to":"NONE","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"100","fromt":"num","to":"NONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":667.0832977294922,"y":866.1251373291016,"wires":[["aa572d72.2a462"]]},{"id":"6d0c8000.ed121","type":"change","z":"79475494.d4eeec","name":"","rules":[{"t":"change","p":"timer","pt":"msg","from":"0","fromt":"num","to":"NONE","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"100","fromt":"num","to":"NONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":605.0173110961914,"y":698.7882318496704,"wires":[["66bd5d4.5fbc8a4"]]},{"id":"37ca7495.d65b7c","type":"ui_switch","z":"79475494.d4eeec","name":"","label":"Water pump","group":"8443af72.08b69","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":139.0833740234375,"y":996.5348529815674,"wires":[["9ea90b69.1e7a88"]]},{"id":"e50a201c.2602e","type":"ui_switch","z":"79475494.d4eeec","name":"","label":"Air pump","group":"8443af72.08b69","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":131.01739120483398,"y":1059.7882061004639,"wires":[["3f6f5928.4c3c66"]]},{"id":"7f99fc05.380cd4","type":"switch","z":"79475494.d4eeec","name":"chAutoWP","property":"AutoMode","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":536.0799026489258,"y":991.7050037384033,"wires":[["8055b8f.56a9248","dbfef708.c19b78"],[]]},{"id":"6ddc8e0.e72fd74","type":"switch","z":"79475494.d4eeec","name":"chAutoAP","property":"AutoMode","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":529.0173492431641,"y":1059.7882118225098,"wires":[["a552d349.f6021","dbfef708.c19b78"],[]]},{"id":"dbfef708.c19b78","type":"debug","z":"79475494.d4eeec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":827.0173416137695,"y":1131.7881994247437,"wires":[]},{"id":"9ea90b69.1e7a88","type":"function","z":"79475494.d4eeec","name":"fat","func":"var atmode = flow.get(\"AUTOMODE\");\nmsg.AutoMode = atmode;\nreturn msg;","outputs":1,"noerr":0,"x":352.0729522705078,"y":988.6147236824036,"wires":[["7f99fc05.380cd4"]]},{"id":"3f6f5928.4c3c66","type":"function","z":"79475494.d4eeec","name":"fat2","func":"var atmode = flow.get(\"AUTOMODE\");\nmsg.AutoMode = atmode;\nreturn msg;","outputs":1,"noerr":0,"x":340.0173645019531,"y":1060.454833984375,"wires":[["6ddc8e0.e72fd74"]]},{"id":"725dd3bd.e262fc","type":"function","z":"79475494.d4eeec","name":"fat","func":"var atmode = flow.get(\"AUTOMODE\");\nmsg.AutoMode = atmode;\nreturn msg;","outputs":1,"noerr":0,"x":101.01734924316406,"y":785.6773157119751,"wires":[["e2b32732.e529c8"]]},{"id":"e2b32732.e529c8","type":"switch","z":"79475494.d4eeec","name":"chAutoTimer","property":"AutoMode","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":112.0173568725586,"y":833.6771240234375,"wires":[["cdcdea48.fb6e28"],[]]},{"id":"c0515299.006b6","type":"ui_text","z":"79475494.d4eeec","group":"cbd3301d.a2fb5","order":1,"width":0,"height":0,"name":"ModeOP","label":"Working Mode : ","format":"{{msg.payload}}","layout":"row-spread","x":777.017333984375,"y":624.7882080078125,"wires":[]},{"id":"eb08b46f.79cb48","type":"change","z":"79475494.d4eeec","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Auto","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":593.0173110961914,"y":625.7882041931152,"wires":[["c0515299.006b6"]]},{"id":"be69afa2.53d01","type":"ui_template","z":"79475494.d4eeec","group":"8443af72.08b69","name":"Clock Toolbar","order":3,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    \n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            displayTitle(data);\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":103.0173568725586,"y":576.0104370117188,"wires":[[]]},{"id":"fc5d28c9.d62248","type":"ui_group","z":"","name":"Select Timer","tab":"ca71ef99.d3b8","order":2,"disp":true,"width":"8","collapse":false},{"id":"3d903e3c.540422","type":"ui_group","z":"","name":"Set Timer","tab":"ca71ef99.d3b8","order":3,"disp":true,"width":"8","collapse":false},{"id":"5bafe1f3.5ac09","type":"ui_group","z":"","name":"Operation Mode","tab":"ca71ef99.d3b8","order":1,"disp":true,"width":"8","collapse":false},{"id":"cbd3301d.a2fb5","type":"ui_group","z":"","name":"Status","tab":"53bb00e2.327ce","order":1,"disp":true,"width":"8","collapse":false},{"id":"ba3447e5.becaa8","type":"ui_group","z":"","name":"Auto Mode","tab":"53bb00e2.327ce","order":2,"disp":true,"width":"8","collapse":false},{"id":"8443af72.08b69","type":"ui_group","z":"","name":"Manual Mode","tab":"53bb00e2.327ce","order":3,"disp":true,"width":"8","collapse":false},{"id":"ca71ef99.d3b8","type":"ui_tab","z":"","name":"Setting","icon":"dashboard","order":2},{"id":"53bb00e2.327ce","type":"ui_tab","z":"","name":"MAIN","icon":"dashboard","order":1}]